/*  Mobile menu */
#page { 
	position: relative; 
	left: 0; 
	top:0px; 
	/*z-index: 99999;*/
}
.pageContent {  
	height: 100%; 
	z-index: 9999; 
}
.mobileContainer { 
	width:100%;
	overflow: hidden;	
}
#slidingMenu { 
	display: block; 
	position: absolute;
	overflow-x: hidden;
	overflow-y: scroll;
	width:100%;
	left: 0px; 
	top: 0px; 
	z-index: 0;
	visibility: hidden;	
 }
 .show-menu-button {
	width:100%;
	min-height:30px;
	display:inline-block; 
	color:#fff;
	padding:em(9) 0;
	text-indent:em(12);
	background:#000;
	border-top:5px solid #fff;
	border-bottom:25px solid #fff;
	z-index:300;
	&:hover, &:target {
		color:#fff;
	}
	@include bp(tablet) {
		display:none;
	}
}
#slidingMenu {
	width:100%;
	overflow-x: hidden;
	overflow-y: hidden; 
}
#slidingMenu ul.mobilemenu {
	list-style: none;
	height: 100%;
	padding:em(25) 2% em(25) 2%;  
	overflow-x: hidden;
	overflow-y: scroll; 
}
#slidingMenu ul.mobilemenu li { 
	display: block; 	
}
.menu-icon { 
	vertical-align: middle;
	margin-right: 6px;
	border:none; 
}
#slidingMenu ul.mobilemenu li a { 
	position: relative; 
	display: block; 
	margin-left: 5%; 
	margin-right:5%;
	color:$brand-second;
	font-size:em(14);
	font-weight:400;
	padding-top:em(9);
	padding-bottom:em(9);
	line-height:22px;
	text-decoration: none;
	text-transform:none; 
}
#slidingMenu ul li a:hover { 
	color: #999eac; 
	text-decoration: none; 
}

#slidingMenu ul.mobilemenu li ul  li a {
	font-size:em(12);
	font-weight:400;
	padding:em(3) em(20);
	
}

/* Desktop menu */
.mainmenu {
	position:relative;
	top:4px;
	width:100%;
	display: inline-block;
	margin-top:em(14);
	display:none;
	visibility: hidden;
	z-index:3000;
	@include bp(tablet) {
		top:16px;
		display:block; 
		visibility: visible;
	}
	@include bp(desktop) {
		float:left; 
		width:auto;
		top:4px;
	}
}
.mainmenu li {
	display: inline-block;
	position: relative;
	cursor: pointer;
	a {
		font-size:em(15);
		display:block;
		font-weight:700;
		white-space: nowrap;
		padding:em(9) 5% em(24) 5%;
		@include bp(desktop) { 
			padding:em(9) em(17) em(24) em(17);
		}
	}
}
.mainmenu > li:last-child {
	/*position: relative;
	right:-1px;*/
}
.mainmenu li:hover,
.mainmenu li.current_page_item {
	background:$brand-second;
	a {
		color: #000;
		padding:em(9) 5% em(20) 5%;
		@include bp(desktop) { 
			padding:em(9) em(17) em(9) em(17);
		}
	}
	ul li a {
		font-size:em(14);
		font-weight:400;
		padding-bottom:em(9);
		padding-left:em(30);
	}
}
.mainmenu li.menu-item-has-children a {
	padding:em(9) em(17) em(22) em(17);
}

.mainmenu li ul {
	padding: 0;
	position: absolute;
	top: 45px;
	left: 0;
	min-width: 240px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transiton: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	-transition: opacity 0.2s;
	
	@include bp(desktop) { 
		top: 50px;
	}
	
}
.mainmenu li ul li { 
	display: block; 
	background:$brand-second;
	border-bottom:1px solid #000;
	a:hover {
		color: #fff;
		background:#000 url(#{$assetPath}/dropdown-arrow.svg) no-repeat 12px center;
	}
	&:last-child {
		border-bottom:none;
	}
}
.mainmenu li ul li:hover { 
	color:#000;
	background:$brand-second;

}
.mainmenu li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}







