// Font Face
// @include fontface('FONT_NAME', 'assets/fonts/', 'FONT_FAMILY');

// Structure
$pageWidth: 960px;

// Text Selection
$selectionColor: orange;

$brand-dark:#0060a7;
$brand-second:#ffd100;
$body-copy:#3b3b3b;

// Links
$linkColor: $brand-dark;
$linkHoverColor: $brand-second;

// Path to images
// Use #{$assetPath}/
$assetPath : "assets/images";
